body {
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.search-bar {
    width: 200px;
    margin-right: 20px;
}

.user-profile img {
    width: 40px;
    height: 40px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 0.5rem;
}

.card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    height: 100%;

}

/* Sets a fixed height for card body to keep the cards uniform */
.card-body {
    flex-grow: 1;
    overflow: hidden; /* Hides any overflow content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Limits card title text to one line with ellipsis if it's too long */
.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Truncates the card description with ellipsis if it exceeds a certain height */
.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Adjust the number of lines before truncation */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-button {
    border-radius: 20px;
}

.card .btn-success {
    font-weight: bold;
}

.add-course {
    border: 2px dashed #ccc;
    color: #666;
    cursor: pointer;
    height: 100%;
    text-align: center;
}

.add-course p {
    margin-top: 0.5rem;
    font-weight: bold;
}

footer {
    font-size: 0.9rem;
}

.footer-logo {
    width: 100px;
}

.footer-social-icons i {
    font-size: 1.2rem;
}

.footer p {
    margin: 0;
}


/* .logo {
    height: 32px;
} */

/* Logo styling */
.logo {
    width: 100px;
}

/* Header styling */
.header__search {
    width: 300px;
    position: relative;
}

.header__search input {
    border-radius: 50px;
    padding-right: 35px;
}

.header__search button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.header__profile img {
    border: 2px solid #ddd;
    object-fit: cover;
    object-position: center;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
}

.carousel-caption h5 {
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.carousel-caption p {
    font-size: 0.9rem;
}

.carousel-caption .btn-outline-light {
    border-color: #fff;
    color: #fff;
    font-weight: bold;
}